@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-index {
  flex-grow: 1;
}

/* Навигация */
.page-header {
  display: flex;
  margin: 0 70px;
}

.site-logo {
  margin-right: 28px;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none;
}

.nav-link {
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.nav-item-current {
  border-bottom: 2px solid #756257;
}

.nav-user-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  list-style: none;
}

.nav-user-link {
  display: block;
  width: 44px;
  padding: 22px 12px;
  text-decoration: none;
}

.favorites-count {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
}

/* Hero секция */
.hero {
  padding: 51px 371px 82px;
  background-image: url("../images/welcome-background.jpg");
  background-color: #aec4dc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Секция преимущества (главная страница) */
.advantages-block {
  padding: 69px 0;
  text-align: center;
}

.advantages-block .title {
  margin-bottom: 25px;
}

.advantages-item.advantages-picture .item-title {
  color: #ffffff;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  width: 400px;
}

.advantages-container {
  padding: 112px 85px;
  text-align: center;
}

.advantages-item.advantages-picture .advantages-container {
  padding: 102px 85px;
  text-align: center;
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2n + 1) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item .item-title {
  margin-bottom: 62px;
}

.advantages-item.advantages-picture {
  display: flex;
  width: 100%;
  color: #ffffff;
  background-color: #82b3d3;
}

/* Cекция услуги (главная страница) */
.services-block {
  padding: 64px 0;
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-item {
  padding: 80px 85px;
  min-height: 385px;
  width: 400px;
  text-align: center;
}

.services-item .item-title {
  margin-bottom: 30px;
}

.services-item:nth-child(2n + 1) {
  background-color: rgba(131, 179, 211, 0.12);
}

/* Поиск отеля (главная страница) */
.hotel-search {
  padding: 96px 304px;
  text-align: center;
}

.hotel-search .block-subtitle {
  margin-bottom: 54px;
}

/* Подписка */
.subscribe {
  padding: 96px 258px 104px;
  text-align: center;
}

.subscribe.subscribe-background .block-title {
  color: #ffffff;
}

.subscribe .block-subtitle {
  margin-bottom: 54px;
}

.subscribe-background {
  color: #ffffff;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #486778;
  background-position: center;
}

.subscribe-form {
  display: flex;
}

.subscribe-inp {
  width: 452px;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  border: none;
  background-color: #f2f2f2;
}

/* Фильтр гостиниц (каталог) */
.inner-header {
  padding: 35px 70px 70px;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #87aecd;
  background-position: center;
}

.breadcrumbs {
  font-size: 16px;
  color: #ffffff;
  list-style: none;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-filter input {
  font-family: inherit;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.control-input-minmax {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-reset {
  background-color: transparent;
}

/* Поиск (каталог) */
.search {
  display: flex;
  padding: 50px 70px 40px;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
}

.view-list {
  list-style: none;
}

/* Отели (каталог) */
.hotels-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 70px;
  margin: 0;
  list-style: none;
}

.hotels-card {
  width: 340px;
  padding: 20px;
  border: 1px solid #e5e5e5;
}

.hotels-card-photo {
  margin-bottom: 16px;
}

.hotels-card-price {
  text-align: right;
}

.hotels-card-link {
  text-decoration: none;
}

/* Пагинация */
.pagination-list {
  display: flex;
  align-items: baseline;
  gap: 8px;
  list-style: none;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  vertical-align: baseline;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

/* Футер */
.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-link {
  display: block;
  width: 48px;
  height: 40px;
  padding: 0 10px;
}

.footer-contact-number {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}

/* Кнопки */
.btn {
  display: inline-block;
  padding: 8px 50px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.btn-large {
  font-size: 20px;
  line-height: 36px;
}

.btn-brown {
  background-color: #756157;
}

.btn-blue {
  background-color: #82b3d3;
}

.btn-green {
  background-color: #7db54f;
}

/* Текст */
.block-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.block-subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.item-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.item-subtitle {
  margin: 0;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.search-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hotels-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotels-card-rating {
  font-size: 16px;
  line-height: 20px;
}

/* Иконки */
.vk-icon {
  background: url("../images/social/vk.svg") no-repeat center;
}

.telegram-icon {
  background: url("../images/social/tg.svg") no-repeat center;
}

.youtube-icon {
  background: url("../images/social/youtube.svg") no-repeat center;
}

.search-icon {
  background: url("../images/icons/search.svg") no-repeat center;
}

.heart-icon {
  background: url("../images/icons/heart.svg") no-repeat center;
}

.house-icon {
  background: url("../images/icons/house.svg") no-repeat center;
}

.food-icon {
  background: url("../images/icons/food.svg") no-repeat center;
}

.souvenir-icon {
  background: url("../images/icons/souvenir.svg") no-repeat center;
}
